@import url(reset.css);
/* reset css import */
@import url(../fontawesome/fontawesome/css/all.css);
@font-face {
  font-family: "Urbanist";
  font-weight: normal;
  src: url(../webfonts/Urbanist-Regular.woff2);
}
/* font face import */
.uni-button {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
  margin: 1rem 0rem;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s;
}
.uni-button:hover {
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  margin: 1rem 0rem;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;
}
body {
  font-family: "Urbanist";
}
/* navigatiion bar styling */
nav {
  display: flex;
  padding: 0rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.103);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav > .nav-icon > img {
  width: 4rem;
  /* border-radius: 100%; */
}
.navigation-links > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: center;
}
.navigation-links > ul > a {
  text-decoration: none;
}
.contact-button {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
  transition: 0.5s;
}
.contact-button:hover {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  color: black;
  border: 1px solid black;
}
.mobile-hamburger {
  display: none;
}

/* navigatiion bar styling */
/*  */
/* Hero-section styling */
.Hero-section {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header-image-container {
  width: 50%;
}
.Hero-section > .header-image-container > img {
  width: 100%;
}
.header-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
}
/* Hero-section styling */
/* about page styling */
#about-page {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#about-page > p {
  margin: 1rem 2rem;
}
/* about page styling */
.Portfolio-section {
  padding: 2rem;
  text-align: center;
}
/* what i do caruosel */
.what-ido-caruosel {
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;
}
.what-ido-caruosel > div {
  padding: 1rem;
  border: 1px solid black;
  transition: 0.5s;
  text-align: left;
}
.what-ido-caruosel > div:hover {
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.103);
}
/* what i do caruosel */
/* contact page styling */
#contact-page {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}
.input-form > input {
  width: 20rem;
  padding: 1rem;
}
.input-form > input:focus {
  width: 20rem;
  padding: 1rem;
  border: 1px solid black;
}
.Message-height-adjustment {
  height: 10rem;
}
.contact-intro {
  text-align: center;
  padding: 1rem 2rem;
}
textarea {
  padding: 1rem;
}
/* contact page styling */

/*  */
/*  */
/* about-page-styling */
#header {
  display: flex;
  align-items: center;
  /* height: 100vh; */
}
header > .about-me {
  padding: 2rem;
}
header > div {
  width: 50%;
}
/* about-page-styling */
.experience-section,
.Journey-section,
.goal-section {
  padding: 2rem;
  border-bottom: 2px solid black;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.103);
}
.experiences {
  padding: 1rem 4rem;
}
/* footer section styling */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.103);
  z-index: 1;
}

/* footer section styling */
/* Portfolio-section styling */
.Portfolio-section {
  padding: 2rem;
  /* height: 100vh; */
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Portfolio-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Portfolio-section-grid > div {
  width: 50%;
}
/* Portfolio-section styling */
@media screen and (max-width: 700px) {
  /* navigatiion bar styling */
  nav {
    display: flex;
    padding: 1rem 1rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .mobile-hamburger {
    display: flex;
  }
  .navigation-links-hamburger-menu {
    display: flex;
    transition: 0.5s;
  }
  .navigation-links-hamburger-menu > .navigation-links > ul {
    display: none;
    flex-direction: column;
    padding: 0rem;
  }
  .mobile-hamburger > a > i {
    font-size: 2rem;
  }
  /* navigatiion bar styling */
  /*  */
  /* Hero-section styling */
  .Hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .header-image-container {
    width: 100%;
  }
  .header-intro-text {
    padding: 0rem 2rem;
  }
  /* Hero-section styling */
  /*  */
  #about-page {
    height: fit-content;
  }
  /* about-page-styling */
  header {
    display: flex;
    flex-direction: column;

    /* align-items: center; */
    /* height: 100vh; */
  }
  header > .about-me {
    padding: 1rem;
  }
  header > div {
    width: 100%;
  }
  /* about-page-styling */
  /* what i do caruosel */
  .what-ido-caruosel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
  }
  .experience-section,
  .Journey-section,
  .goal-section {
    padding: 2rem;
    border-bottom: 2px solid black;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.103);
  }
}
